@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    font-family: 'Karla', sans-serif;
    background-color: rgb(240, 229, 229);
    color: #8B573C;
}

/*---------------------------------Hero Image*/

.jumbotron{
  margin:15px 15px 15px 15px;
  border-radius:10px;
  position: relative;
    background: 
linear-gradient(
  rgba(67, 23, 10, 0.15),
  rgba(139, 87, 60, 0.15)
),
url("/assets/images/piano.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
color:rgb(240, 229, 229);
height:340px;
}

.page-scroll{
  height:5000px;
}

.btn-outline-danger{
  color:rgb(240, 229, 229);
  border-color:rgb(240, 229, 229);
  border-radius:0px;
  font-weight:100;
  margin-top:20px;
}
.lead{
  font-family:"Karla", sans-serif;
  font-weight:100;
  margin-top:-10px;
}

/*----------------------------------------------Cover Text*/

#cover-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(240, 229, 229);
    width: 220px;
    height: 120px;
    padding-top: 12px;
    padding-left: 12px;
    background-color: rgba(158, 143, 130, .9);
    bottom: 0%;
    left: 0%;
    border-radius: 48px 18px;
    position: absolute;

}  