@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    font-family: 'Karla', sans-serif;
    background-color: rgb(240, 229, 229);
    color: #8B573C;
}

/*---------------------------------Jumbotron Hero Image*/

.jumbotron {
    margin: 15px 0 15px 0;
    background: linear-gradient(
  rgba(67, 23, 10, 0.15),
  rgba(139, 87, 60, 0.15)
),  
url("/assets/images/piano-art2.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
}
  
.page-scroll{
  height:5000px;
}

/*------------------------------------Jumbotron Container*/

.jumbotron .container {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(240, 229, 229);
    width: 240px;
    height: 120px;
    padding-top: 12px;
    padding-left: 12px;
    background-color: rgba(158, 143, 130, 0.8);
    top: 33%;
    left: 0%;
    border-radius: 18px 48px;
    position: absolute;

}  

/*------------------------------------About me*/

#about-me {
    color: #8B573C;
    clear: both;
    margin: 0 auto;
    text-align: center;
    font-size: 100%;
    letter-spacing: 1px;
   
}

#about-me h3 {
  
    font-size: 180%;
    text-transform: uppercase;
    color: #43170A;
    letter-spacing: 2px;
}

#about-me p {
    margin: 0 auto;
    font-size: 14px;
    text-align: left;
}

#about-me a {
    color: #43170A;
    text-decoration: none;
}

#about-me a:hover {
    border-bottom: 1px solid #43170A;
}

#module {
    max-width: fit-content;
}

#module a.collapsed:after {
    content: '+ Show More';
}

#module a:not(.collapsed):after {
    content: '- Show Less';
}
