{% extends "_base.html" %}

{% block content %}
    <section class="resources">
        <h3 class="resources-page-heading">Resources</h3>
        <hr class="page-break">
        <h3 class="resources-heading">Sheet music</h3>
        <p class="resources-subheading">Downloads in PDF format</p>
        <table class="table table-striped align-middle">
            <thead class="table-light"></thead>
            <tbody>
                <tr>
                    <th scope="col"><p class="table-heading">Scales and Exercises</p></th>
                    <th scope="col"><p class="table-heading">Pieces of Music</p></th>
                </tr>
                <tr>
                    <td><a class="table-item" target="_blank" href="assets/pdf/major-scales.pdf" download>Major Scales</a></td>
                    <td><a class="table-item" href="assets/pdf/mary-had-a-little-lamb.pdf" download>Mary Had a Little Lamb</a></td>
                </tr>
                <tr>
                    <td><a class="table-item" target="_blank" href="assets/pdf/melodic-minor-scales.pdf" download>Melodic Minor Scales</a></td>
                    <td><a class="table-item" target="_blank" href="assets/pdf/old-macdonald-had-a-farm.pdf" download>Old MacDonald Had a Farm</a></td>
                </tr>
                <tr>
                    <td><a class="table-item" target="_blank" href="assets/pdf/harmonic-minor-scales.pdf" download>Harmonic Minor Scales</a></td>
                    <td><a class="table-item" target="_blank" href="assets/pdf/when-the-saints-go-marching-in.pdf" download>When the Saints Go Marching In</a></td>
                </tr>
                <tr>
                    <td><a class="table-item" target="_blank" href="assets/pdf/arpeggios.pdf" download>Arpeggios</a></td>
                    <td><a class="table-item" target="_blank" href="assets/pdf/danny-boy.pdf" download>Danny Boy</a></td>
                </tr>
            </tbody>
        </table>
        <hr class="page-break">
        <h3 class="resources-heading">Website Links</h3>
        <p class="resources-subheading">To external sites</p>
        <table class="table table-striped align-middle">
            <thead class="table-light"></thead>
            <tbody>
                <tr>
                    <td><a class="table-item" target="_blank" rel="noopener" href="https://gb.abrsm.org/en/">Associated Board of the Royal Schools of Music graded exams</a></td>
                </tr>
                <tr>
                    <td><a class="table-item" target="_blank" rel="noopener" href="https://www.trinitycollege.com/qualifications/music/grade-exams">Trinity College London graded exams</a></td>
                </tr>
                <tr>
                    <td><a class="table-item" target="_blank" rel="noopener" href="https://lcme.uwl.ac.uk/exams">London College of Music graded exams</a></td>
                </tr>
                <tr>
                    <td><a class="table-item" target="_blank" rel="noopener" href="https://www.musicxml.com/music-in-musicxml/">musicxml.com/music-in-musicxml/</a></td>
                </tr>
                <tr>
                    <td><a class="table-item" target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Piano">wikipedia.org/wiki/Piano</a></td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
